* {
  box-sizing: border-box;
}

html, body {
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}

.header {
  height: 65px;
  width: 100%;
  color: #fff;
  background: #222222;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-actions button {
  background: transparent;
  color: white;
  padding: 6px 14px;
  border-radius: 36px;
  border: 1px solid white;

  display: flex;
  align-items: center;
}

.header-actions button:hover {
  border-style: outset;
  transform: scale(1.02);
  transition: all ease-in-out;
}

.header-actions button i {
  margin-right: 8px;
}

button:disabled {
  border: 1px solid #ccc;
  background: #e0e0e0;
  cursor: not-allowed
}

#hero {
  width: 100%;
  height: 300px;
  background: #F7F8FA;

  display: flex;
  align-items: center;
  padding: 35px;
}

.hero-image {
  width: 222px;
  height: 222px;
  /* background: lightpink; */
  display: block;
}

.hero-image img {
  width: 100%;
  border-radius: 50%;
}

.hero-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 32px;
}

.hero-actions button {
  display: flex;
  align-items: center;
  padding: 6px 14px 6px 10px;
  border-radius: 36px;
  border: none;
  color: white;
  background: linear-gradient(to right, rgb(47, 162, 255), rgb(0, 255, 47));
}

.hero-actions button i {
  margin-right: 4px;
}