html, body {
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 65px;
  color: #fff;
  background: #222222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;
}

#hero {
  width: 100%;
  height: 300px;
  background: #F7F8FA;

  display: flex;
  align-items: center;
  padding: 35px;
}

.hero-image {
  width: 222px;
  height: 222px;
  /* background: lightpink; */
  display: block;
}

.hero-image img {
  width: 100%;
  border-radius: 50%;
}

.hero-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 32px;
}

.socialmedia-section i {
  color: #A1A5A9; 
  font-size: 26px;
  margin-right: 15px;
}

.name-section h2 {
  font-weight: normal;
}